<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.ranko.autodark"
    tools:ignore="ProtectedPermissions">

    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="moe.shizuku.manager.permission.API_V23" />
    <uses-permission android:name="moe.shizuku.manager.permission.EXEC_COMMAND" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <permission android:name="me.ranko0p.permission.RECEIVE_DARK_BROADCAST" />
    <uses-permission android:name="me.ranko0p.permission.RECEIVE_DARK_BROADCAST" />

    <application
        android:name=".AutoDarkApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <receiver
            android:name=".Receivers.DarkModeAlarmReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="moe.shizuku.api.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

        <activity android:name=".ui.LicenseActivity" />

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.BlockListActivity"
            android:theme="@style/AppTheme.TransparentActionBar" />

        <activity
            android:name=".ui.PermissionActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.TransparentActionBar" />

        <service
            android:name=".Services.DarkModeTileService"
            android:enabled="true"
            android:icon="@drawable/ic_dark_theme"
            android:label="@string/tile_dark_theme"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">

            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_description" />
        <meta-data
            android:name="xposedminversion"
            android:value="90+" />
    </application>
</manifest>